/*--- General Settings Start---*/
:root{
    --main-color: #fbf3f2
}

html {
  scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family:  Helvetica, sans-serif, Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}


.container-L{
    width: 80%;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 5vh;
    padding-top: 10vh;
    min-height: 60vh;
    text-align: center;
}

.container-M{
    width: 80%;
    margin: auto;
    margin-top: 1vh;
    text-align: center;
    padding-top: 100px;
    min-height: 50vh;
}

.container-S{
    width: 80%;
    margin: auto;
    margin-top: 1vh;
    text-align: center;
    padding-top: 100px;
    min-height: 20vh;
}

.spacing {
    min-height: 5vh;
}

.textbox-L{
    margin-top: 1vh;
    margin-bottom: 5vh;
    margin-left: 3vh;
    margin-right: 3vh;
    padding-top: 2vh;
    font-size: 72px;
    text-align: center;

}

.textbox-M{
    margin-top: 0.5vh;
    margin-bottom: 5vh;
    margin-left: 3vh;
    margin-right: 3vh;
    font-size: 20px;
    text-align: left;
}



/*--- Header Settings ---*/

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    left: 95px;
}


/*The logo's css*/
nav img{
    position: absolute;
    width: 320px;
    height: 180px;
    left: 100px;
    top: 15px;
}

nav img:hover{
    /* moves it upwards by 10px*/
    transform: translateY(-10px);
    /* sets the transition duration to 0.5s*/
    transition-duration: 0.5s;
    /* ease in and ease out when going through transitions*/
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.nav-links{
    flex: 1;
    text-align: right;
    top: 55px;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    top: 55px;
}

.nav-links ul li a{
    color: #032539;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    top: 55px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #1c768f;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

h1 {
    font-size: 9vh;
    color: #032539;
}

.title-brand h1 {
    font-size: 14vh;
    color: #032539;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

h2 {
    font-size: 8vh;
    color: #032539;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

h3 {
    font-size: 6vh;
    color: #032539;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

p {
    font-size: 3vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

a {
    color:#032539;
    text-decoration: none;
}

.mouse-tracker {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 5vmin;
  height: 5vmin;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border: solid 2px #000;
  opacity: 0.8;
  transform: translate(-50%, -50%) translate(var(--mouse-x), var(--mouse-y));
  pointer-events: none;
}



/*--- General Settings End---*/




/*--- Home Page Settings start---*/
.title-brand h1{
    font-size: 12vh;
    margin-top: 15vh;
}


.row {
    width: 100%;
    margin-top: 1.5vh;
    margin-left: 1.5vh;
    margin-right: 1.5vh;
    display: flex;
    justify-content: space-between; /* Aligns the objects in an evenly matter */
    align-items: center;
}

.card-row {
  width: 100%;
  margin-top: 1.5vh;
  margin-left: 1.5vh;
  margin-right: 1.5vh;
  display: flex;
  justify-content: space-between; /* Aligns the objects in an evenly matter */
  align-items: top;
  
}

.button_row {
    margin-top: 5%;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-between;
}

.column-text {
    padding-left: 3vh;
    padding-right: 3vh;
    line-height: 1.5;
}

.column-icon {
    margin: 9vh 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    border-radius: 100px;
}

.column-card {
  flex-basis: 31%;
  background: #d5eff7;
  border-radius: 10px;
  margin-bottom: 3vh;
  padding: 2vh 2vh;
  box-sizing: border-box;
  max-width: 20em;

}

.column-card h4 {
  font-size: 3vh;
  font-weight: bolder;
  color: #032539;
  margin-top: 1vh;
  margin-bottom: 2vh;
  margin-left: 1vh;
  margin-right: 1vh;
  text-align: center;
}

.column-card p {
  font-size: 2.5vh;
  line-height: 1.5;
  padding: 0.75vh 0.75vh;
  text-align: left;
}

button {
    /* Variables */
   --button_radius: 0.75em;
   --button_color: #e8e8e8;
   --button_outline_color: #032539;
   font-size: 18px;
   font-weight: bold;
   border: none;
   border-radius: var(--button_radius);
   background: var(--button_outline_color);
}
  
.button_top {
   display: block;
   box-sizing: border-box;
   border: 2px solid var(--button_outline_color);
   border-radius: var(--button_radius);
   padding: 0.75em 2em;
   background: var(--button_color);
   color: var(--button_outline_color);
   transform: translateY(-0.2em);
   transition: transform 0.2s ease;
}
  
button:hover .button_top {
    /* Pull the button upwards when hovered */
   transform: translateY(-0.33em);
}
  
button:active .button_top {
    /* Push the button downwards when pressed */
   transform: translateY(0);
}

/*
.title-brand {
    background: linear-gradient(27deg, #1c768f, #032539, #189ab4, #05445e);
    background-size: 800% 800%;

    -webkit-animation: Gradient-change 0s ease infinite;
    -moz-animation: Gradient-change 0s ease infinite;
    animation: Gradient-change 0s ease infinite;
}

@-webkit-keyframes Gradient-change {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
@-moz-keyframes Gradient-change {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
@keyframes Gradient-change { 
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}

.read-more-button {
    padding-left: 24vh;
    padding-right: 24vh;
    display: inline-block;
    border-radius: 4px;
    background-color: #032539;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 2vh;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1vh;
    margin-left: 3vh;
    margin-right: 3vh;
}
   
.read-more-button a {
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-decoration: none;
}
   
.read-more-button a:after {
    color: #FFFFFF;
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -2px;
    transition: 0.5s;
    text-decoration: none;
}
   
.read-more-button:hover a {
    padding-right: 15px;
}
   
.read-more-button:hover a:after {
    opacity: 1;
    right: 0;
}
*/




[class^=btn-] {
  position: relative;
  font-size: 2vh;
  display: block;
  overflow: hidden;
  padding: 2.25vh 3.5vh;
  width: 100%;
  height: 60px;
  max-width: 200px;
  margin: 0.25vh;
  text-transform: uppercase;
  border: 1px solid currentColor;
  text-align: center;
}

.btn-6 {
  color: #032539;
}
.btn-6 span {
  position: absolute;

  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #032539;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.btn-6:hover {
  color: #fbf3f2;
}
.btn-6:hover span {
  width: 225%;
  height: 562.5px;
}
.btn-6:active {
  background-color: #1c768f;
}

.sphere-container{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
}
.sphere-container > canvas{
  position: absolute;
  top: 0;
  left: 0;
}










/*--- Home Page Settings end---*/


/*--- Project/Product Page Settings start---*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
:root {
  --bg-color-hsl: #fff;
  --bg-color: hsl(var(--bg-color-hsl));
  --bg-color-translucent: hsla(var(--bg-color-hsl), 0.95);
  --bg-color-highlight: #ffc53e;
  --color-text: hsl(0, 0%, 0%);
  --color-text-highlight: hsl(192, 14%, 0%);
  --page-width: 80ch;
  --paragraph-font-size: min(max(1.2rem, 4vw), 1.4rem);
  --header-font-size: min(max(2rem, 8vw), 4rem);
  --space: 2rem;
  --padding: 8vmin;
  --duration: 2s;
  --ease: cubic-bezier(0.25, 1, 0.5, 1);
}

.dark-mode {
  --bg-color-hsl: 0, 0%, 7%;
  --bg-color: hsl(var(--bg-color-hsl));
  --bg-color-translucent: hsla(var(--bg-color-hsl), 0.95);
  --bg-color-highlight: hsl(238, 70%, 40%);
  --color-text: hsl(0, 0%, 80%);
  --color-text-highlight: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--bg-color);
  transition: background calc(var(--duration) / 4) var(--ease);
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: calc(var(--space) / 2) var(--padding);
  width: 100%;
  max-width: var(--page-width);
  background-color: var(--bg-color-translucent);
  transition: background calc(var(--duration) / 4) var(--ease);
  min-height: 80vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

select {
  font-family: inherit;
  font-size: 16px;
}

label {
  font-size: 0.8rem;
}

main {
  margin: 12rem auto;
  padding: 0 var(--padding);
  max-width: var(--page-width);
}


.text-highlight {
  all: unset;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: color calc(var(--duration) / 4) var(--ease), background-color calc(var(--duration) / 4) var(--ease), background-size var(--duration) var(--ease);
}
.text-highlight.active {
  color: var(--color-text-highlight);
  background-size: 100% 100%;
}
[data-highlight=background] .text-highlight {
  background-image: linear-gradient(var(--bg-color-highlight), var(--bg-color-highlight));
}
[data-highlight=half] .text-highlight {
  --line-size: 0.5em;
  background-image: linear-gradient(transparent calc(100% - var(--line-size)), var(--bg-color-highlight) var(--line-size));
}
[data-highlight=underline] .text-highlight {
  --line-size: 0.15em;
  background-image: linear-gradient(transparent calc(100% - var(--line-size)), var(--color-text) var(--line-size));
}
.text-highlight::before, .text-highlight::after {
  position: absolute;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.text-highlight::before {
  content: " [highlight start] ";
}
.text-highlight::after {
  content: " [highlight end] ";
}

.wrapper {
    opacity: 0;
    position: absolute;
    top:-10em;
}






/*---Project/Product Page Settings end---*/



/*--- About Page Settings start---*/






/*---About Page Settings end---*/




/*--- Contact Page Settings start---*/








/*---Contact Page Settings end---*/



















